<html>
<body>
<p>Hello <%= @user.first_name %>,</p>

<p>Your forms are ready to view and print <a href="<%= user_entity_application_form_url(@user, @entity, @application_form) %>">here</a>.</p>

</body>
</html>