.field_with_errors { display:inline; color:red; }

body{
	width:770px;
	margin:0 auto;
	background-color: #EAEAEA;
}

body p, body div, body li, table caption, table th, table td {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #000000;
}

a{
	font-family: Arial, Helvetica, sans-serif !important;
	font-style: normal;
	color: #0000CC;
	text-decoration: underline;
}

a:hover {

	color: #A6A6A6 !important;

}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #FF0000;
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 0px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #FF0000;
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 0px;
}

h3 {
	font-style: normal;
	color: #FF0000;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 0px;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #000000;
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 0px;
}

h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #000000;
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 0px;
}

h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-style: normal;
	color: #000000;
	font-weight: normal;
	text-transform: none;
	text-decoration: none;
	margin-bottom: 0px;
}

p {
	line-height: 16px;
}

hr {
	height: 0px;
}

ol li {
	line-height: 16px;
}

ul li {
	line-height: 16px;
	list-style-type: disc;
}

em, i {
	font-style: italic !important;
}


/*-- New Styles --*/

/*-- Header --*/

p, h1, h2, h3, h4, li {
font-family: tahoma;
}

#header {
margin: 0px;
width: 770px;
height:116px;
text-align: center;
position: relative;
background-color: black;
background-image: url(../images/header.png);
background-repeat: no-repeat;
background-position: top left;
}

/*-- Menu --*/

#mainmenu {
width: 770px;
background-color: #E61B1F;
background-image: url(../images/menubg.gif);
border-left: 1px solid white;
background-position: bottom;
background-repeat: repeat-x;
text-align: center;
padding: 3px 0px 3px 0px;
margin: 5px 0px 0px 0px;
}

#mainmenu p {
display: inline;
border-left: 1px solid #990000;
border-right: 1px solid #F5A5A6;
padding: 3px 5px 3px 5px;
font-family: tahoma;
}


#mainmenu p a:active, #mainmenu p a:link, #mainmenu p a:visited {
color: black;
text-decoration: none;
font-size: 80%;
padding: 3px 5px 3px 5px;
font-family: tahoma;
font-weight: bold;
color: white;
}

#mainmenu p a:hover {
color: black;
text-decoration: none;
font-size: 80%;
padding: 3px 5px 3px 5px;
font-weight: bold;
}

#content {
margin-top: 5px;
text-align: left;
width: 750px;
background-color: white;
padding:10px;
}



.field label{
	display:block;
}

input{
	margin: 5px 0 20px 0;
	width:200px;
}

.field .checker + label{
	display:inline;
	vertical-align:middle;
}

.action{
margin:10px 0 10px 0;
}

.form_selector{
	width:500px;
}

.float_selector{
	float:right;
}



.form_selector h2, .form_selector h3{
	font-size:2em;
	margin-bottom:5px;
}

.form_selector h1{
	font-size:3em;
	margin-bottom:5px;
}

.fields .field .bank{
	width:22px;
}
.fields .field .branch{
	width:42px;
}

.fields .field .account{
	width:75px;
}
.fields .field .suffix{
	width:31px;
}

.bank label, .remove_nested_fields{
	display:block !important;
}
.remove_nested_fields{
	margin:-10px 0 10px 0 !important;
}

#error_explanation{
	margin-bottom:20px;
}

.checker_selector{
	margin:10px 0 10px 0;
}

.fields {
  padding:20px;
  border-radius:20px;
}

label{text-indent:10px; font-size:13px;}
h3 { font-weight:normal; font-size:20px; margin-bottom:10px;}
.left { float:left; }
.right { float:right; }

input{
  padding:10px;
}

.fields, .action {
  margin-bottom:10px;
  clear:both;
}

br {
  clear:both;
}

#add_account {
  float:left;
  width:100%;
}

.fields.bank_accounts, .fields.credit_cards {
  margin-bottom:0;
  padding-bottom:0;
}

iframe { border:0;}
#MoSTContent{ background:#ccc;}

#entity_gst_number_1, #entity_gst_number_2, #entity_gst_number_3 {width:31px;}

.gst_number.right { float:left; margin-left:37px; }

#uniform-bank_account_pays_subscription, #uniform-bank_account_pays_subscription select { width:300px;}
#uniform-bank_account_pays_subscription span { width:275px;}
#pdf_content { background-color:#262626; text-align:center; padding:7px 5px 5px; margin-top:15px;}

table {width:720px;}
thead{ text-transform:uppercase;}
thead td {text-align:cfenter; padding:5px;}
table.admin input.text, input.small_input {width:150px !important; font-size:12px !important; margin:0 !important; padding:5px !important;}

.fields .credit_card_fields input { width:43px; }

#print_button, #uniform-print_button {
  display:none;
}

.field.needs_cheques { padding-top:28px;}

table.pricing input.text{ padding:0; width:50px; font-size: 13px;}

.number_of_transactions_slider_text { float:left; margin-top: 15px; }
.number_of_transactions_slider { float:right; width:210px; margin-top: 17px; }

.bartercard_transactions {margin-top:-12px; width:320px;}
.country {margin-left:30px;}

.hide { display:none; }